<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- Cold-start timeline for the emulator tour (S3a); debug builds only. -->
        <provider
            android:name="dev.sk2andy.materialbrowser.browser.StartupTimelineProvider"
            android:authorities="${applicationId}.startup-timeline"
            android:exported="false"
            android:initOrder="1000" />
        <activity
            android:name="dev.sk2andy.materialbrowser.browser.gecko.GeckoScrollTestActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
        <activity
            android:name="dev.sk2andy.materialbrowser.browser.gecko.GeckoWebAuthnResultTestActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
        <activity
            android:name="dev.sk2andy.materialbrowser.browser.gecko.GeckoRedirectTrapActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Material.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="google.candy.localhost"
                    android:pathPrefix="/redirect"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <!-- Exported for `adb shell am start` in the screenshot tour; debug builds only. -->
        <activity
            android:name="dev.sk2andy.materialbrowser.ui.PrivateTabsLockPreviewActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Material.NoActionBar" />
        <activity
            android:name="dev.sk2andy.materialbrowser.ui.PermissionPromptPreviewActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Material.NoActionBar" />
        <activity
            android:name="dev.sk2andy.materialbrowser.ui.ProfileLockedPreviewActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Material.NoActionBar" />
        <activity
            android:name="dev.sk2andy.materialbrowser.ui.VoiceSearchPreviewActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Material.NoActionBar" />
    </application>
</manifest>
